@use '@/styles/index.scss' as *;
@import '@/styles/levels';

.dashboard-my {
  position: relative;
  @include Flex(row, flex-start, center);
  gap: 12px;
  height: 40px;
  @include FontStyle('lg', 500, 'lg', 'lg');
}

.dashboard-my-icon {
  @include Flex(row, space-between, center);
  width: 38px;
  height: 38px;
  border: 2px solid $white;
  border-radius: 50%;
  color: $white;
  background: pink;
}

.container {
  width: 120px;
  height: 82px;
  border-radius: 6px;
  border: 1px solid $gray-d9;
  @include Flex(column, center, center);
  gap: 4px;
}

.dropdown {
  position: relative;
  width: fit-content;

  & > article {
    position: absolute;
    top: 50px;
    left: 0;

    ul {
      background-color: $white;
    }
  }
}

.list {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  padding: 4px 16px;
  @include FontStyle(14, regular);

  line-height: 24px;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $back-yellow;
    color: $main-yellow;
  }
}
