@use '@/styles/index.scss' as *;

.container {
  @include Flex(column, null, null);
  @include ResponsiveWidth(620px, 544px, 284px);
  @include ResponsivePadding(32px 28px, 32px 28px, 20px 16px);
  @include border-radius(16px);
  .section-header-title {
    @include FontStyle('2xl', 'bold', '2xl', 'xl');
  }
  .dashboard-edit {
    @include Flex(column, null, null);
    margin-top: 24px;
    label {
      @include FontStyle('2lg' 'medium', '2lg', 'lg');
    }
    .dashboard-edit-name-input {
      height: 50px;
      margin-top: 8px;
      padding: 15px 16px;
      border: 1px solid $gray-d9;
      @include border-radius(8px);
      &:focus {
        outline: none;
      }
    }
    .dashboard-edit-color {
      @include Flex(row, null, center);
      gap: 8px;
      margin-top: 8px;
      margin-bottom: 40px;
      .circle {
        @include Size(30px);
        @include border-radius(100%);
      }
      .green {
        background-color: $green;
      }
      .purple {
        background-color: $purple;
      }
      .orange {
        background-color: $orange;
      }
      .blue {
        background-color: $blue;
      }
      .pink {
        background-color: $pink;
      }
    }
  }
}
