@use '@/styles/index.scss' as *;

.pagination {
  @include Flex(row, null, center);
  gap: 16px;
  width: 168px;
  margin-left: auto;
  @include FontStyle(14, 400);
  color: $black-33;
  .pagination-number {
    width: 72px;
    white-space: nowrap;
  }
  &.dark {
    .pagination-number {
      color: rgba($white, 0.6);
    }
  }
}

@include mobile {
  .pagination {
    @include FontStyle(12, 400);
    gap: 0;
  }
}
