@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinChip';
@import '@/styles/mixins/mixinModal';

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @include ModalStyle;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: $white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  max-height: 80%; /* 모달의 최대 높이 설정 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* 모달 안의 요소를 세로로 정렬 */
}

.modal-content {
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  margin-bottom: 20px;
  flex-grow: 1; /* 모달 창 내에서 내용이 공간을 차지하도록 설정 */
  max-height: 400px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.close-button {
  background-color: $white;
  border: 1px solid $gray-d9;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}

.agree-button {
  background-color: $main-yellow;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
}
