@use '@/styles/index.scss' as *;

.container {
  @include Flex(column, null, null);
  &.dark {
    .label {
      color: rgba($white, 0.87);
    }
  }
}

.label {
  margin-bottom: 10px;
  @include FontStyle(lg, regular);
  color: $black-33;
}

.input-wrapper {
  position: relative;
}

.input {
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid $gray-d9;
  background-color: white;
  padding-left: 15px;
  padding-right: 45px; // 아이콘의 너비를 고려하여 오른쪽 패딩을 조정합니다.
  @include FontStyle(lg, regular);
  color: $black-33;

  &::placeholder {
    color: $gray-9f;
  }
}

.input-error {
  border: 2px solid $red;
}

.button {
  display: flex;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.error-message {
  margin-top: 8px;
  @include FontStyle(md, regular);
  color: $red;
}
