@use '@/styles/index.scss' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &.dark {
    .agree {
      color: rgba($white, 0.87);
    }
  }
}

.agree {
  font-size: 16px;
  color: $black-33;
}
