@use '@/styles/index.scss' as *;

.box {
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .image {
    @include Flex(column, center, center);
    width: 400px;
    height: 400px;
  }

  .text {
    font-size: 20px;
  }
}
