.box {
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .Image {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .text {
    font-size: 20px;
  }
}
