@use '@/styles/index' as *;
@import '@/styles/mixins/mixinDropdown';
@import '@/styles/animations';

.button {
  @include MenuStyle;
  @include ListStyle;
  @include FontStyle(sm, regular);
  width: 100%;
  color: $black-33;

  position: relative;

  svg {
    position: absolute;
    right: 5px;

    &.open {
      animation: rotateDown 0.3s forwards;
    }

    &.close {
      animation: rotateUp 0.3s forwards;
    }
  }
}

.menu {
  @include MenuStyle;
  width: 100%;
}

.list {
  @include ListStyle;
  @include FontStyle(sm, regular);
  color: $black-33;

  &:hover {
    background-color: #eeeeee;
  }
}

.select-input {
  position: relative;

  &.dark {
    .button {
      background-color: $gray-d9;
    }

    .menu {
      border-radius: 8px;
      .list {
        background-color: $gray-d9;
        color: $dark-theme;

        &:hover {
          background-color: $dark-card-top;
        }

        &:first-child {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
        &:last-child {
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }
    }
  }

  article {
    position: absolute;
    width: 100%;
    top: 50px;
  }
}
