@use '@/styles/index' as *;

.text {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  color: $black-33;
  margin-left: 320px;
  margin-top: 75px;
  @media (min-width: 768px) {
    padding: 20px;
  }
  .profilebox {
    height: 422px;
    width: 100%;
    max-width: 620px;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;

    @media (min-width: 768px) {
      height: 355px;
      padding: 28px;
    }
    .profile {
      margin-bottom: 24px;
      margin-top: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;

      @media (min-width: 768px) {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
  .Pwdbox {
    width: 100%;
    max-width: 620px;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;

    @media (min-width: 768px) {
      padding: 28px;
      padding-top: 0;
    }
    .Pwdchange {
      margin-bottom: 24px;
      margin-top: 28px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;

      @media (min-width: 768px) {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
