@use '@/styles/index.scss' as *;

.size {
  width: 182px;
  height: 182px;
  position: relative;
}

.label-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  .tempImage {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:hover {
      filter: brightness(75%);
    }
    &:active {
      filter: brightness(50%);
    }
  }

  .button {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    opacity: 0.4;
    &:hover {
      opacity: 0.7;
    }
  }

  .edit {
    width: 30px;
    height: 30px;
    z-index: 10;
  }
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $gray-f5;
  border-radius: 6px;

  .plus-image {
    position: relative;
    width: 20px;
    height: 20px;

    @include tablet {
      width: 30px;
      height: 30px;
    }
  }
}
