@use '@/styles/index' as *;

.size {
  width: 100%; /* 부모 요소의 크기에 따라 조정됨 */
  height: 100%; /* 부모 요소의 크기에 따라 조정됨 */
  position: relative; /* 절대 위치 지정된 자식 요소에 필요함 */
}

.label_input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  .tempImage {
    border-radius: 6px;
    width: 100%; /* 부모 요소에 맞게 조정됨 */
    height: 100%; /* 부모 요소에 맞게 조정됨 */
    object-fit: cover; /* 이미지 크기 조정 */
    &:hover {
      filter: brightness(75%);
    }
    &:active {
      filter: brightness(50%);
    }
  }

  .button {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 9999px;
    opacity: 0.4;
    &:hover {
      opacity: 0.7;
    }
  }

  .Edit {
    width: 30px;
    height: 30px;
    z-index: 10;
  }
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $gray-f5;
  border-radius: 6px;

  .plus_image {
    position: relative;
    width: 20px;
    height: 20px;

    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }
}
