@use '@/styles/index.scss' as *;

.box {
  position: relative;

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    width: 100%;
    max-width: 100%;
    padding: 15px 16px;
    border: 1px solid $gray-d9;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s;

    @include FontStyle(lg, regular);

    &:focus {
      border-color: #007bff;
    }
  }

  .border-red {
    border: 2px solid $red;
  }

  .button {
    position: absolute;
    right: 10px;
    top: 51%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}

.error {
  margin-top: 8px;
  font-size: 14px;
  color: $red;
}
