@use '@/styles/index.scss' as *;

.container {
  @include Flex(row, space-between, center);
  @include ResponsivePadding(16px 28px, 16px 28px, 12px 20px);
  border-bottom: 1px solid $gray-ee;
  .member-info {
    @include Flex(row, null, center);
    @include ResponsiveGap(12, 12, 8);
    .member-name {
      @include FontStyle('lg', 'regular', 'lg', 'md');
      color: $black-33;
    }
  }
  &:last-child {
    border-bottom: none;
  }
  button {
    border: 1px solid $main-yellow;
    &:hover {
      color: $main-yellow-active;
      border: 1px solid $main-yellow-active;
    }
  }
  &.dark {
    border-bottom: 1px solid $dark-card-top;
    &:last-child {
      border-bottom: none;
    }
    .member-info {
      .member-name {
        color: rgba($white, 0.87);
      }
    }
    button {
      border: 1px solid $main-yellow;
      color: $main-yellow;
      &:hover {
        color: $main-yellow-active;
        border: 1px solid $main-yellow-active;
      }
    }
  }
}
