@import '@/styles/index';
@import '@/styles/animations';
@import '@/styles/levels';

.fade-in {
  overflow: hidden;
}

.fade-in > ul {
  animation: slide-fade-in-dropdown-animation 0.4s ease;
}

.fade-out {
  overflow: hidden;
}

.fade-out > ul {
  animation: slide-fade-out-dropdown-animation 0.4s ease;
  animation-fill-mode: forwards;
}

.dropdown {
  z-index: $drop-down-menu;

  &.dark {
    ul {
      background-color: $dark-card-top;
      border: none;

      li {
        color: rgba($white, 0.87);

        &:hover {
          background-color: $dark-card-active;
        }
      }
    }
  }
}
