@use '@/styles/index' as *;
@import '@/styles/mixins/mixinModal';

.top-button {
  background-color: transparent;
  padding: 0;
}

.modal-container {
  @include Flex(column, null, null);
  gap: 24px;
  font-family: pretendard;
  width: 730px;
  border-radius: 8px;
  background-color: $white;

  padding: 32px 28px;

  @include ModalStyle;
  max-height: 90%;
  overflow-y: auto;
}

.modal-wrapper {
  @include Flex(row, null, null);
  gap: 24px;
}

.title-and-icons {
  @include Flex(row, space-between, center);
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: $black-33;
}

.kebab-and-close {
  @include Flex(row, null, center);
  gap: 24px;
}

.icon {
  width: 28px;
  height: 28px;
}
.empty-block {
  display: none;
}

.title-mobile {
  display: none;
}

.contents {
  @include Flex(column, null, null);
  gap: 16px;
  max-width: 450px;
  width: 100%;
}

.contents-text {
  width: 96%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  min-height: 90px;
}

.content-img {
  width: 90%;
  border-radius: 8px;
  @include mobile {
    width: 100%;
  }
}

@include tablet {
  .modal-container {
    max-width: 678px;
  }
  .modal-wrapper {
    justify-content: center;
    gap: 6px;
  }
  .sampleImg {
    width: 420px;
  }
}

@include mobile {
  .modal-container {
    width: 327px;
    padding: 16px;
    gap: 0;
  }
  .title-mobile {
    padding: 16px 0 12px 0;
  }

  .kebab-and-close {
    @include Flex(row, null, center);
    gap: 16px;
  }
  .top-button {
    @include Flex(null, center, center);
  }

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .title {
    display: none;
  }

  .title-mobile {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: $black-33;
  }

  .modal-wrapper {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .contents-text {
    max-width: 295px;
    font-size: 12px;
    line-height: 18px;
  }

  .empty-block {
    display: block;
  }
}

.chips {
  @include Flex(row, null, center);
  gap: 20px;
}

.border {
  width: 1px;
  height: 20px;
  background-color: $gray-d9;
}

.chip-card-list {
  @include Flex(row, null, center);
  gap: 6px;
}

.kebab {
  position: relative;

  & > article {
    position: absolute;
    top: 28px;
    right: 0;

    ul {
      background-color: $white;
    }
  }
}
