@use '@/styles/index.scss' as *;

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header;

  @include Flex(row, space-between, center);

  width: 100%;
  @include ResponsiveHeight(70px);
  @include ResponsivePadding(0 70px, 0 40px, 0 24px);
  border-bottom: 1px solid $gray-d9;

  background: $white;
  color: $black;

  box-sizing: border-box;

  &.dark {
    background: $black;
    color: $white;
  }
}

.logo-container {
  @include Flex(row, space-between, center);
  @include ResponsiveWidth(144px, 144px, 36px);
  @include ResponsiveHeight(36px, 36px, 36px);

  :nth-child(1) {
    @include mobile {
      display: none;
    }
  }

  :nth-child(2) {
    display: none;
    @include mobile {
      display: inline-block;
    }
  }
}

.dark .logo-container {
  filter: brightness(0) invert(1);
}

.sign-container {
  @include Flex(row, space-between, center);
  @include ResponsiveGap(36, 36, 24);
  background: inherit;
  color: inherit;
  p {
    @include FontStyle(16, 400, 16, 14);
  }
}
