@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinButton';

.common {
  border: 1px solid $gray-d9;
  font-family: 'Pretendard', sans-serif;
  line-height: 1.2em;
  box-sizing: border-box;
  cursor: pointer;
}

.login {
  border: none;
  border-radius: 8px;
  background: $violet;
  color: $white;

  @include Padding(14px 236px, 14px 236px, 14px 152px);
  @include FontStyle(18, 500, 18, 18);

  &:disabled {
    background: $gray-9f;
    cursor: not-allowed;
  }
}

.primary {
  border: 1px solid $violet;
  border-radius: 4px;
  background: $violet;
  color: $white;

  @include Padding(7px 29px, 6px 23px, 7px 37px);
  @include FontStyle(14, 500, 14, 12);
}

.secondary {
  border-radius: 4px;
  background: $white;
  color: $violet;

  @include Padding(7px 29px, 6px 23px, 7px 37px);
  @include FontStyle(14, 500, 14, 12);
}

.delete {
  border-radius: 4px;
  background: $white;
  color: $violet;

  @include Padding(7px 29px, 7px 29px, 6px 15px);
  @include FontStyle(14, 500, 14, 12);
}

.add-column {
  border-radius: 8px;
  background: $white;
  color: $black-33;

  @include Padding(24px 85px, 24px 180px, 20px 60px);
  @include FontStyle(18, 700, 18, 16);
}

.add-todo {
  border-radius: 6px;
  background: $white;

  @include Padding(9px 146px, 9px 261px, 6px 132px);
}

.delete-dashboard {
  border-radius: 8px;
  color: $black-33;

  @include Padding(20px 96px, 20px 96px, 16px 84px);
  @include FontStyle(18, 700, 18, 16);
}

.pagenation {
  @include desktop {
  }

  @include tablet {
  }

  @include mobile {
  }
}

.add-board {
  border-radius: 8px;
  background: $white;
  color: $black-33;

  @include Padding(24px 99px, 23px 56px, 19px 70px);
  @include FontStyle(16, 600, 16, 14);
}

.dashboard {
  border-radius: 8px;
  background: $white;
  color: $black-33;

  @include Padding(25px 20px, 24px 20px, 20px 20px);
  @include FontStyle(16, 600, 16, 14);
}
