@use '@/styles/index' as *;

.assignee {
  @include Flex(row, null, center);
  gap: 6px;

  &.dark {
    > p {
      // color: rgba($white, 0.87);
      color: $dark-theme;
    }
  }
}

.profile-img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: $gray-d9;
}
