@use '@/styles/index.scss' as *;

// 카드 컴포넌트
.card {
  width: 314px;
  padding: 20px;

  border-radius: 6px;
  border: 1px solid $gray-d9;

  background-color: $white;

  @include Flex(column, null, null);
  @include ResponsiveGap(12, 20, 11);

  @include tablet {
    height: 93px;
    width: 100%;
    @include Flex(row, null, null);
  }

  @include mobile {
    flex-direction: column;
    height: auto;
  }

  // 카드 이미지
  img {
    @include tablet {
      width: 90.76px;
      height: 53px;
    }

    @include mobile {
      width: 100%;
      height: 151.82px;

      object-fit: cover;
    }
  }

  // 태그, 캘린더, 프로필 감싸는 div
  .card-information {
    @include Flex(column, null, null);
    @include ResponsiveGap(10, 16, 6);

    @include tablet {
      @include Flex(row, null, center);
    }
    @include mobile {
      @include Flex(column, null, flex-start);
    }
  }

  // 이미지 제외 부분
  .card-content {
    @include Flex(column, null, null);
    @include ResponsiveGap(10, 10, 6);

    @include tablet {
      width: 100%;
    }

    // 제목
    .title {
      @include FontStyle(16, 500, 16, 14);
      @include ResponsiveLineHeight(19, 19, 16.7);
      line-height: 19px;
      color: $black-33;
    }

    // 태그들
    .tags {
      @include Flex(row, null, center);
      gap: 6px;
    }

    // 날짜랑 달력 svg
    .date {
      @include Flex(row, null, flex-end);
      gap: 6px;

      svg {
        @include mobile {
          width: 14px;
          height: 14px;
        }
      }

      p {
        color: $gray-78;
        @include FontStyle(12, 500, 12, 10);
        @include ResponsiveLineHeight(14, 14, 12);
      }
    }

    // 날짜랑 프로필
    .card-bottom {
      @include Flex(row, space-between, center);
      @include tablet {
        flex: 1;
        width: 100%;
      }
    }
  }
}

// 임시 프로필 스타일 (패스해도 되는 부분)
// 헤더에서 쓰이길래 공통 컴포넌트에서 만들면 지우겠습니다~!
.profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @include Flex(row, center, center);
  background-color: #a3c4a2;
  color: $white;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 14.63px;
  text-align: center;
}
