@use '@/styles/index.scss' as *;

.container {
  width: 93px;
  height: 82px;
  border-radius: 6px;
  border: 1px solid $gray-d9;
  @include Flex(column, center, center);
  gap: 4px;
}

.list {
  width: 81px;
  height: 32px;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  &:hover {
    cursor: pointer;
    background-color: $violet-8;
    color: $violet;
  }
}
