@use '@/styles/index' as *;

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.button {
  @include Flex(row, null, center);
  margin-bottom: 180px;
  font-size: 20px;

  background: $main-yellow;
  color: white;

  padding: 0.7em 1em;
  padding-left: 0.9em;

  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;

  .login {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  .plane {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
    fill: $white;
  }

  &:hover {
    .svg-wrapper {
      animation: fly-1 0.6s ease-in-out infinite alternate;
    }
    .plane {
      transform: translateX(1.2em) rotate(45deg) scale(1.1);
      fill: $white;
    }
    .login {
      transform: translateX(5em);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
