// EditProfileForm.module.scss
@use '@/styles/index.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 42px;
  @include tablet {
    gap: 16px;
  }
  @include mobile {
    display: block;
  }
}

.image-box {
  flex: 0 0 auto; // 이미지 박스 크기 고정
  display: flex;
  align-items: center;
  justify-content: center;

  .size {
    width: 100px;
    height: 100px;

    @include tablet {
      width: 180px;
      height: 180px;
    }
  }
  @include mobile {
    display: block;
  }
}

.form-box {
  flex: 1; // 폼 박스가 남은 공간을 차지하도록 설정
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include tablet {
    gap: 20px;
  }
}

.email-size {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid $gray-d9;
  border-radius: 8px;
  background-color: $white;
  color: $black-4b;
  font-size: 16px;
  line-height: 1.5;

  &:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  }

  color: $gray-9f;
}

.nickname {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  margin-top: 16px;

  .input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid $gray-d9;
    border-radius: 8px;
    background-color: $white;
    font-size: 16px;
    line-height: 1.5;
    color: $black-4b;
    &::placeholder {
      color: $gray-9f;
    }

    &:focus {
      outline: 2px solid transparent;
      outline-offset: 2px;
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
    }

    &.invalid {
      border-width: 2px;
      border-color: $red;

      &:hover {
        border-color: $red;
      }
    }
    color: $gray-9f;
  }

  .nickname-text {
    position: relative;
    top: 4px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: $red;

    @include tablet {
      top: 88px;
    }
  }
}

.button {
  > button {
    width: 100%;
    height: 54px;
    padding: 0;
    margin-top: 16px;
  }
}
