@use '@/styles/index.scss' as *;

.text {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  color: $black-33;
  background-color: $gray-fa;
  min-height: 100vh;
  @include tablet {
    padding: 20px;
  }

  &.dark {
    background-color: $dark-theme;
    .profile-box,
    .pwd-box {
      background-color: $dark-card;
    }
    .profile,
    .pwd-change {
      color: rgba($white, 0.87);
    }
  }
  .profile-box {
    width: 100%;
    max-width: 670px;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;

    @include tablet {
      padding: 28px;
    }
    .profile {
      margin-bottom: 24px;
      @include FontStyle('2xl', 'bold', '2xl', '2lg');

      @include tablet {
        margin-bottom: 32px;
      }
    }
  }
  .pwd-box {
    width: 100%;
    margin-top: 24px;
    max-width: 670px;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;

    @include tablet {
      padding: 28px;
      padding-top: 0;
    }
    .pwd-change {
      margin-bottom: 24px;
      @include FontStyle('2xl', 'bold', '2xl', '2lg');

      @include tablet {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
