@use '@/styles/index.scss' as *;

.text {
  display: flex;
  flex-direction: column;
  padding: 16px 12px;
  color: $black-33;
  margin-left: 320px;
  margin-top: 75px;
  @include tablet {
    padding: 20px;
  }
  .profile-box {
    height: 422px;
    width: 100%;
    max-width: 670px;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;

    @include tablet {
      height: 355px;
      padding: 28px;
    }
    .profile {
      margin-bottom: 24px;
      margin-top: 24px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;

      @include tablet {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
  .pwd-box {
    width: 100%;
    max-width: 670px;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;

    @include tablet {
      padding: 28px;
      padding-top: 0;
    }
    .pwd-change {
      margin-bottom: 24px;
      margin-top: 28px;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;

      @include tablet {
        margin-top: 32px;
        margin-bottom: 32px;
      }
    }
  }
}
