@use '@/styles/index.scss' as *;

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  .login {
    width: 520px;
    align-items: center;
    justify-content: center;
    @include tablet {
      width: 520px;
    }
    .member {
      margin-top: 20px;
      text-align: center;
      color: var($black-33);

      .link {
        color: $violet;
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
}
