@use '@/styles/index.scss' as *;

.box {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: $white;

  &.dark {
    background-color: $dark-theme;
    color: rgba($white, 0.87);
    .member {
      color: rgba($white, 0.87) !important;
    }
  }

  .login {
    width: 520px;
    @include tablet {
      width: 520px;
    }
    @include mobile {
      width: 375px;
      margin: 12px;
    }
    .member {
      margin-top: 24px;
      margin-bottom: 73px;
      text-align: center;
      color: $black-33;
      @include FontStyle(16, 400);
      line-height: 19.09px;

      .link {
        color: $violet;
        &:hover {
          color: $main-yellow;
        }
      }
      .underline {
        text-decoration: underline;
      }
    }
  }
}
