@use '@/styles/index' as *;

.tags-input {
  border: 1px solid $gray-d9;
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  border-radius: 6px;
  @include FontStyle(lg, 400, lg, md);
  &:focus {
    border-color: $main-yellow;
    outline: none;
  }
}

.tags-input-error {
  border-color: $red !important; // 에러 상태에서의 스타일
}

.tags-input-normal {
  border-color: $main-yellow;
}

.tags {
  @include Flex(row, null, center);
  gap: 8px;
  margin-top: 15px;
  @include mobile {
    margin-top: 12px;
  }
}
