// flex mixin
@mixin Flex($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// 반응형 css 구현을 위한 mixin
$mobile-max: 767px;
$tablet-max: 1199px;
$desktop-min: 1200px;

@mixin desktop {
  @media screen and (min-width: $desktop-min) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-max) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $mobile-max) {
    @content;
  }
}

@mixin ResponsiveGap($desktop, $tablet, $mobile) {
  gap: #{$desktop}px;

  @include tablet {
    gap: #{$tablet}px;
  }

  @include mobile {
    gap: #{$mobile}px;
  }
}

@mixin ResponsiveLineHeight($desktop, $tablet, $mobile) {
  line-height: #{$desktop}px;

  @include tablet {
    line-height: #{$tablet}px;
  }

  @include mobile {
    line-height: #{$mobile}px;
  }
}

@mixin Size($width, $height: $width) {
  width: $width;
  height: $height;
}

//rem 사이즈 구할때 사용?
@function CalculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin border-radius($value) {
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
  border-radius: $value;
}
