@use '@/styles/index.scss' as *;
@use '@/styles/variable' as *;

@mixin GetProgressChipColor($color) {
  @if map-has-key($PROGRESS_COLORS, $color) {
    $style: map-get($PROGRESS_COLORS, $color);
    background-color: map-get($style, background-color);
    color: map-get($style, color);
  } @else {
    background-color: $violet-8;
    color: $violet;
  }
}
@mixin GetCircleColor($color) {
  @if map-has-key($PROGRESS_COLORS, $color) {
    $style: map-get($PROGRESS_COLORS, $color);
    fill: map-get($style, color);
  } @else {
    fill: $violet;
  }
}
