@use '@/styles/index.scss' as *;

.side-menu-item {
  @include Flex(row, space-between, center);

  width: 100%;
  @include ResponsiveHeight(42px, 43px, 40px);
  @include ResponsivePadding(0px 12px 0, 0px 10px 0, 16px);
  border-radius: 8px;

  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background: $back-yellow;

    &.dark {
      background: $dark-theme-hover;
    }
  }
  &:active {
    background: $main-yellow-active;

    &.dark {
      background: $dark-theme-active;
    }
  }
}

.side-menu-item-container {
  @include Flex(row, flex-start, center);
  @include ResponsiveWidth(280px, 134px, 40px);
  @include ResponsiveHeight(42px, 43px, 40px);
  gap: 16px;
}

.item-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &.green {
    background: $green;
  }

  &.purple {
    background: $purple;
  }

  &.orange {
    background: $orange;
  }

  &.blue {
    background: $blue;
  }

  &.pink {
    background: $pink;
  }
}

.item-name-wrapper {
  @include mobile {
    display: none;
  }

  @include Flex(row, flex-start, center);
  @include ResponsiveGap(6, 4, 0);

  @include FontStyle('2lg', 600, 'lg', '');
  color: $gray-78;

  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark {
    color: rgba($white, 0.6);
  }

  > p {
    @include ResponsiveMaxWidth(210px, 72px, 0);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.icon-wrapper {
  @include ResponsiveWidth(18px, 15px, 0);
}
