@use '@/styles/index.scss' as *;

.common {
  border: 1px solid $gray-d9;
  line-height: 1.2em;
  box-sizing: border-box;
  white-space: nowrap;
}

.standard-flex {
  @include Flex(row, space-between, center);
}

.dashboard-button {
  border-radius: 8px;
  background: $white;
  transition: background-color 0.3s color 0.3s ease;
  color: $black-33;

  @include ResponsivePadding(25px 20px, 24px 20px, 20px 20px);
  @include FontStyle(16, 600, 16, 14);

  &.dark {
    background: $dark-card;
    color: rgba($white, 0.87);
  }

  &:hover {
    background: $back-yellow;
    cursor: pointer;

    &.dark {
      background: $dark-theme-hover;
    }
  }
  &:active {
    background: $main-yellow-active;

    &.dark {
      background: $dark-theme-active;
    }
  }
}

.dashboard {
  @include ResponsiveWidth(292px, 207px, 220px);
  transition: background-color 0.3s color 0.3s ease;

  .dashboard-title-box {
    @include ResponsiveGap(16, 12, 12);

    .dashboard-title-icon-gap {
      @include ResponsiveGap(8, 6, 4);

      > p {
        @include ResponsiveMaxWidth(244px, 159px, 172px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  > svg {
    width: 18px;
    height: 18px;
  }

  &.dark {
    color: rgba($white, 0.87);
    > svg {
      > path {
        fill: currentColor;
      }
    }
  }
}

.crown-size {
  @include ResponsiveWidth(20px, 18px, 15px);
  @include ResponsiveHeight(20px, 18px, 15px);

  > svg {
    width: 100%;
    height: 100%;
  }
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
