@use '@/styles/index.scss' as *;

.container {
  @include Flex(column, null, null);
  gap: 16px;
  @include ResponsivePadding(20px, 20px, 12px);
  background-color: $gray-fa;
  .link {
    @include Flex(row, null, center);
    gap: 3px;
    margin-right: auto;
    svg {
      transform: translateY(2px);
      rotate: 180deg;
    }
  }
  &.dark {
    background-color: $dark-theme;
    .link {
      color: rgba($white, 0.6);
    }
  }
}

@include tablet {
  .container {
    @include Flex(column, null, center);
  }
}

@include mobile {
  .container {
    @include Flex(column, null, center);
  }
}
