@use '@/styles/index.scss' as *;

.container {
  @include Flex(column, null, null);
  gap: 16px;
  @include ResponsivePadding(20px, 20px, 12px);
  background-color: $gray-fa;
  .link {
    @include Flex(row, null, center);
    gap: 3px;
    margin-right: auto;
    svg {
      transform: translateY(-1px);
    }
  }
  .delete-button-wrapper {
    button {
      @include ResponsiveWidth(700px, 544px, 284px);
      background-color: $white;
      color: $main-yellow;
      border: 1px solid $main-yellow;
      transition: 0.2s;
      &:hover {
        color: $main-yellow-active;
        border: 1px solid $main-yellow-active;
      }
    }
  }
  &.dark {
    background-color: $dark-theme;
    .link {
      color: rgba($white, 0.87);
    }
    .delete-button-wrapper {
      button {
        background-color: $dark-card;
        color: $main-yellow;
        border: 1px solid $main-yellow;
        &:hover {
          border: 1px solid $main-yellow-active;
          color: $main-yellow-active;
        }
      }
    }
  }
}

@include tablet {
  .container {
    @include Flex(column, null, center);
  }
}

@include mobile {
  .container {
    @include Flex(column, null, center);
  }
}
