@use '@/styles/index.scss' as *;

.container {
  @include Flex(column, null, null);
  @include ResponsiveGap(40, 48, 24);
  @include ResponsivePadding(0 40px, 0 40px, 0 24px);
  background-color: $gray-fa;
  width: 100%;
  height: 100vh;
}
