@import '@/styles/index.scss';
@import '@/styles/mixins/mixinModal';

.container {
  font-family: pretendard;
  @include Flex(column, null, null);
  gap: 32px;
  width: 584px;
  height: 90%;
  overflow: scroll;
  border-radius: 16px;
  padding: 32px;
  background-color: $white;

  @include ModalStyle;
}

.form {
  @include Flex(column, null, null);
  gap: 32px;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.status-and-owner {
  @include Flex(row, space-between, center);
}

.dropdown-preview {
  width: 217px;
  height: 48px;
  padding: 8px 9px;
  border-radius: 6px;
  border: 1px solid $gray-d9;
  font-size: 16px;
}

.label-and-form {
  @include Flex(column, null, null);
  gap: 8px;
  &.top-form {
    width: 240px;
  }
}

.label-with-star {
  @include Flex(row, null, null);
  gap: 4px;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: $black-33;
}

.essential {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $violet;
}

.form-input {
  border: 1px solid $gray-d9;
  width: 100%;
  height: 50px;
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $black-33;
  resize: none;
}

.form-input.form-description {
  height: 126px;
  padding: 15px 16px;
}

.date-input {
  border: 1px solid $gray-d9;
  width: 100%;
  height: 48px;
  padding: 11px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 26px;
  color: $black-33;
  font-weight: 400;
  resize: none;
}

.sampleImg {
  width: 76px;
  height: 76px;
  border-radius: 6px;
}

.button-group {
  display: flex;
  gap: 8px;
}

.button {
  width: 256px;
  height: 54px;
  border-radius: 8px;
  border: 1px solid $gray-d9;
  padding: 14px 46px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: $gray-78;
  background-color: $white;

  &.yellow {
    color: $white;
    background-color: $main-yellow;
    border: 1px solid $main-yellow;
  }
}

@include mobile {
  .container {
    padding: 24px 16px;
    width: 327px;
  }

  .modal-title {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
  }

  .status-and-owner {
    flex-direction: column;
    gap: 32px;
  }

  .label-and-form {
    gap: 10px;
    width: 100%;
  }

  .label-with-star {
    font-size: 14px;
    line-height: 24px;
  }

  .dropdown-preview {
    width: 100%;
  }

  .form-label {
    font-size: 14px;
    line-height: 24px;
  }
}
