@import '@/styles/index.scss';

.container {
  @include Flex(column, null, null);
  gap: 20px;
  font-family: pretendard;
  border: 1px solid $gray-d9;
  border-radius: 8px;
  width: 200px;
  height: 155px;
  padding: 16px;

  &.dark {
    background-color: $dark-card-top;
    border: none;
    .title {
      color: rgba($white, 1);
    }
    .contents {
      color: rgba($white, 0.87);
    }
  }
}

.title-and-contents {
  @include Flex(column, null, null);
  gap: 6px;
}

.title {
  @include FontStyle(xs, semibold);
  color: $black;
}

.assignee {
  @include Flex(row, null, center);
  gap: 8px;
}

.contents {
  text-wrap: balance;
  @include FontStyle(md, regular, sm, xs);
  color: $black-33;
}

@include tablet {
  .container {
    width: 181px;
  }
}

@include mobile {
  .container {
    @include Flex(row, space-between, center);
    width: 100%;
    height: fit-content;
    padding: 9px 20px;
    gap: 20px;
  }

  .title-and-contents {
    width: 45%;
  }
}
