@use '@/styles/index' as *;
@import '@/styles/mixins/mixinDropdown';
@import '@/styles/animations';

.button {
  @include MenuStyle;
  @include ListStyle;
  width: 100%;
  position: relative;

  & > svg {
    position: absolute;
    right: 5px;

    &.open {
      animation: rotateDown 0.3s forwards;
    }

    &.close {
      animation: rotateUp 0.3s forwards;
    }
  }
}

.menu {
  @include MenuStyle;
  width: 100%;
}

.list {
  @include ListStyle;

  &:hover {
    background-color: #eeeeee;
  }
}

.select-input {
  position: relative;

  &.dark {
    .button {
      background-color: $gray-d9;
    }

    .menu {
      border-radius: 8px;
      .list {
        background-color: $gray-d9; // 이거 컬러에 맞게 수정하기 뭔가 밝은듯?

        &:hover {
          background-color: $dark-card-top;
        }

        &:first-child {
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
        &:last-child {
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
        }
      }
    }
  }

  article {
    position: absolute;
    width: 100%;
    top: 50px;
  }
}
