@use '@/styles/index.scss' as *;

.container {
  @include Flex(column, null, null);
  @include ResponsiveWidth(700px, 544px, 284px);
  padding: 26px 0 10px 0;
  @include border-radius(16px);
  background: $white;
  .section-header {
    @include Flex(row, space-between, center);
    @include ResponsivePadding(0 28px, 0 28px, 0 20px);
    .section-header-title {
      @include FontStyle('2xl', 'bold', '2xl', 'xl');
    }
    .section-header-actions {
      @include Flex(row, null, center);
      @include ResponsiveGap(16, 16, 12);
      .dashboard-manage-button {
        padding: 7px 16px;
        border-radius: 8px;
        background: $main-yellow;
        outline: none;
        transition: 0.3s;
        &:hover {
          background-color: $main-yellow-active;
        }
        div {
          @include Flex(row, space-between, center);
          gap: 8px;
          height: 26px;
          @include FontStyle('lg', 500, 'lg', 'lg');
          font-family: pretendard;
          color: $white;
        }
      }
    }
  }
  .invitation-list {
    @include Flex(column, null, null);
    margin-top: 27px;
    .invitation-list-header-title {
      margin-bottom: 1px;
      @include ResponsivePadding(0 28px, 0 28px, 0 20px);
      @include FontStyle('lg', 'regular', 'lg', 'md');
      color: $gray-9f;
    }
  }
  &.dark {
    background-color: $dark-card;
    .section-header {
      .section-header-title {
        color: rgba($white, 0.87);
      }
    }
    .invitation-list {
      .invitation-list-header-title {
        color: rgba($white, 0.6);
      }
    }
  }
}
