@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinButton';

.button-set {
  @include Flex(row, space-between, center);
  width: 80px;
  height: 40px;
  background: $white;

  @include mobile {
    width: 72px;
    height: 36px;
  }
}

.button-pagination {
  flex-grow: 1;
  height: inherit;
  border: 1px solid $gray-d9;
  font-family: 'Pretendard', sans-serif;
  background: $white;
  color: $black-33;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark {
    border: 1px solid $dark-card;
    border-left: 1px solid $dark-theme;
    background: $dark-card;
    color: rgba($white, 0.87);
  }

  &.left {
    transform: rotate(180deg);
  }

  svg {
    width: 16px;
    height: 16px;

    > path {
      fill: currentColor;
    }
  }

  &:hover {
    background: $back-yellow;
    cursor: pointer;

    &.dark {
      background: $dark-card-hover;
    }
  }
  &:active {
    background: $main-yellow-active;

    &.dark {
      background: $dark-card-active;
    }
  }
}
