@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinButton';

.button-set {
  @include Flex(row, space-between, center);
  width: 80px;
  height: 40px;
  background: $white;

  @include mobile {
    width: 72px;
    height: 36px;
  }
}

.button-pagination {
  flex-grow: 1;
  height: inherit;
  border: 1px solid $gray-d9;
  font-family: 'Pretendard', sans-serif;
  cursor: pointer;

  &.left {
    transform: rotate(180deg);
  }

  svg {
    width: 16px;
    height: 16px;
  }
}
