@use '@/styles/index.scss' as *;
@use '@/styles/_levels.scss' as *;

.member-list {
  position: relative;
  @include Flex(row, space-between, center);
  @include ResponsiveWidth(138px, 88px, 88px);
  height: 40px;

  &.count1 {
    @include ResponsiveWidth(38px, 38px, 38px);
  }

  &.count2 {
    @include ResponsiveWidth(63px, 63px, 63px);
  }

  &.count3 {
    @include ResponsiveWidth(88px, 88px, 88px);
  }

  &.count4 {
    @include ResponsiveWidth(113px, 88px, 88px);
  }
  > div {
    position: absolute;
  }

  @for $i from 1 through 5 {
    :nth-child(#{$i}) {
      left: 25px * ($i - 1);
    }
  }
}
