@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinChip';

// chip - num 컴포넌트
.num {
  padding: 3px 6px;
  border-radius: 4px;
  background-color: $gray-ee;
  width: fit-content;

  @include FontStyle(12, 500);
  line-height: 14.32px;
  color: $gray-78;
}

// chip - add 컴포넌트
.add {
  @include Flex(row, center, center);
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 4px;

  background-color: $violet-8;
  color: $violet;

  @include mobile {
    width: 20px;
    height: 20px;
  }
}

// chip - card 컴포넌트
.card {
  width: fit-content;
  padding: 4px 6px;
  border-radius: 4px;

  @include FontStyle(12, 400, 12, 10);
  line-height: 14.3px;

  @include mobile {
    line-height: 12px;
  }
}

// chip - progress 컴포넌트
.progress {
  padding: 4px 8px;
  border-radius: 11px;
  width: fit-content;

  @include Flex(row, null, center);
  gap: 3px;

  @include FontStyle(10, 400);
  line-height: 12px;

  @include GetProgressChipColor('violet');
  svg {
    @include GetCircleColor('violet');
  }
}

// 색상들은 컴포넌트들 색상에 맞게 믹스인을 사용하도록 설정함
.pink {
  @include GetProgressChipColor('pink');

  svg {
    @include GetCircleColor('pink');
  }
}

.green {
  @include GetProgressChipColor('green');

  svg {
    @include GetCircleColor('green');
  }
}

.orange {
  @include GetProgressChipColor('orange');

  svg {
    @include GetCircleColor('orange');
  }
}

.blue {
  @include GetProgressChipColor('blue');

  svg {
    @include GetCircleColor('blue');
  }
}
