$black: #000000;
$black-17: #171717;
$black-33: #333236;
$black-4b: #4b4b4b;
$gray-78: #787486;
$gray-9f: #9fa6b2;
$gray-d9: #d9d9d9;
$gray-ee: #eeeeee;
$gray-fa: #fafafa;
$white: #ffffff;
$violet: #5534da;
$violet-8: #f1effd;
$red: #d6173a;
$green: #7ac555;
$purple: #760dde;
$orange: #ffa500;
$blue: #76a5ea;
$pink: #e876ea;
$green-e7: #e7f7db;
$orange-f9: #f9eee3;
$pink-f7: #f7dbf0;
$blue: #4981d5;
$blue-db: #dbe6f7;

$main-yellow: #fdbe10;
$facebook-color: #3b5998;
$instagram-color: #e1306c;
