@use '@/styles/index.scss' as *;
@import '@/styles/mixins/mixinButton';

.standard-flex {
  @include Flex(row, space-between, center);
}

.add-column {
  gap: 12px;
  @include Height(22px, 22px, 20px);
}

.add-board {
  gap: 12px;
  @include Height(22px, 22px, 20px);
}

.dashboard {
  @include Width(292px, 207px, 220px);

  .dashboard-title-box {
    @include Gap(16px, 12px, 12px);

    .dashboard-title-icon-gap {
      @include Gap(8px, 6px, 4px);
    }
  }
}

.crown-size {
  @include Width(20px, 18px, 15px);
  @include Height(16px, 14px, 12px);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $green;
}
